<template>
    <button
        type="button"
        :class="this.classTitle"
        v-if="a_hub"
        v-on:click="click"
    >
        {{ title }}
    </button>
</template>

<script>
export default {
    name: "ActionButton",
    mounted() {},

    props: {
        title: String,
        classTitle: String,
        is_hub: Boolean,
        is_drop: Boolean,
    },
    computed: {
        a_hub() {
            if (this.title === "Diagnostics" && !this.is_hub) {
                return false;
            }

            if (this.title === "Drop for Analysis" && this.is_drop) {
                return false;
            }
            return true;
        },
    },
    methods: {
        click: function (event) {
            this.$emit("clicked");
        },
    },
};
</script>

<style scoped></style>
