<template>
    <div class="card">
        <dynamic-form :inputs="inputs" :data.sync="form"></dynamic-form>
        <add-button
            :data="form"
            :url="url"
            :title="buttonTitle"
            @add-success="feedbackSuccess"
            @add-error="feedbackFailure"
        ></add-button>
    </div>
</template>

<script>
import DynamicForm from "./DynamicForm.vue";
import AddButton from "./AddButton.vue";

export default {
    components: {
        DynamicForm: DynamicForm,
        AddButton: AddButton,
    },

    name: "ExportForm",

    data() {
        return {
            form: {},
        };
    },

    mounted() {},

    created() {
        this.inputs.forEach(
            (input, i) => (this.form[input.keyword] = input.default)
        );
    },

    props: {
        url: {
            type: String,
            default: "/post-data-test",
        },
        buttonTitle: {
            type: String,
            default: "Submit",
        },
        inputs: {
            type: Array,
            default() {
                return [
                    {
                        keyword: "name",
                        title: "Name",
                        type: "text",
                        default: "test-value",
                    },
                    {
                        keyword: "is_checked",
                        title: "Checked",
                        type: "checkbox",
                        default: false,
                    },
                    {
                        keyword: "option",
                        title: "options",
                        type: "select",
                        default: "",
                        options: [
                            {
                                label: "option 1",
                                value: "option_1",
                            },
                            {
                                label: "option 2",
                                value: "option_2",
                            },
                        ],
                    },
                ];
            },
        },
    },

    methods: {
        feedbackSuccess: function (createdObject) {
            try {
                const data = this.arrayToCsv(createdObject.medical_staff);
                this.downloadBlob(
                    data,
                    "medical-staff.csv",
                    "text/csv;charset=utf-8;"
                );
            } catch (error) {
                return this.$toasted.global.error_notification(
                    "No Medical Staff found with this role"
                );
            }
            this.$emit("created", createdObject);
        },

        feedbackFailure: function (error) {
            this.$emit("error", error);
        },

        arrayToCsv: function (data) {
            const array = [Object.keys(data[0])].concat(data);

            return array
                .map((it) => {
                    return Object.values(it).toString();
                })
                .join("\n");
        },

        downloadBlob: function (content, filename, contentType) {
            var blob = new Blob([content], { type: contentType });
            var url = URL.createObjectURL(blob);
            var pom = document.createElement("a");
            pom.href = url;
            pom.setAttribute("download", filename);
            pom.click();
        },
    },
};
</script>
