<template>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th v-for="column in columns" :key="column.label">
                        <div
                            style="
                                display: flex;
                                justify-content: space-between;
                            "
                            @click.prevent="sortByColumn(column.keyword)"
                        >
                            <div class="sort-header-content">
                                {{ column.label }}
                            </div>
                            <div v-if="sortcol[column.keyword] === 'asc'">
                                <i class="fas fa-arrow-up"></i>
                            </div>
                            <div v-else-if="sortcol[column.keyword] === 'desc'">
                                <i class="fas fa-arrow-down"></i>
                            </div>
                            <div v-else>
                                <i class="fas fa-sort"></i>
                            </div>
                        </div>
                    </th>

                    <th v-if="actions.length > 0">Actions</th>
                </tr>
            </thead>
            <tr v-for="object in items" :key="object.id">
                <th v-for="column in columns" :key="column.keyword">
                    {{ object[column.keyword] }}
                </th>
                <th v-if="actions.length > 0">
                    <div>
                        <div class="btn-group btn-group-sm" role="group">
                            <action-button
                                v-for="action in actions"
                                :key="action.event"
                                :title="action.label"
                                :is_hub="object.is_hub"
                                :is_drop="object.is_drop"
                                @clicked="fireAction(object.id, action.event)"
                                :classTitle="colorToClass(action.color)"
                            ></action-button>
                        </div>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</template>

<script>
import ActionButton from "./ActionButton.vue";
export default {
    mounted() {},

    created() {},

    name: "MedicalStaffTable",

    components: {
        ActionButton: ActionButton,
    },
    computed: {},
    data() {
        return {
            items: this.data,
            sortcol: {},
        };
    },
    props: {
        columns: {
            type: Array,
            default() {
                return [
                    {
                        keyword: "name",
                        label: "Name",
                    },
                    {
                        keyword: "id",
                        label: "ID",
                    },
                ];
            },
        },
        actions: {
            type: Array,
            default() {
                return [
                    {
                        label: "View",
                        event: "view",
                        color: "blue",
                    },
                    {
                        label: "Edit",
                        event: "edit",
                        color: "yellow",
                    },
                    {
                        label: "Delete",
                        event: "delete",
                        color: "red",
                    },
                ];
            },
        },
        data: {
            type: Array,
            default() {
                return [
                    {
                        name: "Philipps",
                        id: "12345",
                    },
                    {
                        name: "Morgan",
                        id: "12332",
                    },
                    {
                        name: "Adrien",
                        id: "09876",
                    },
                ];
            },
        },
    },

    methods: {
        sortItems(column, col) {
            this.items = _.orderBy(this.items, col, this.sortcol[column]);
        },
        sortByColumn(column) {
            const selected = column === Object.keys(this.sortcol)[0];
            if (selected) {
                this.sortcol[column] =
                    this.sortcol[column] === "asc" ? "desc" : "asc";
            } else {
                this.sortcol = {};
                this.sortcol[column] = "asc";
            }
            this.sortItems(column, Object.keys(this.sortcol));
        },
        fireAction: function (id, event) {
            this.$emit(event, id);
        },
        colorToClass: function (color) {
            switch (color) {
                case "blue":
                    return "btn btn-outline-primary";
                case "yellow":
                    return "btn btn-outline-warning";
                case "red":
                    return "btn btn-outline-danger";
                case "green":
                    return "btn btn-outline-success";
                case "dark":
                    return "btn btn-outline-dark";
                default:
                    return "btn btn-outline-light";
            }
        },
    },
};
</script>
