<template>
    <medical-staff
        :columns="columns"
        resource_name="Medical Staff"
        :details="details"
        :inputsCreate="inputs"
        :inputsEdit="inputs"
        :inputsExport="inputsExport"
        v-on="$listeners"
        v-bind="$attrs"
        @destroy-success="destroySuccess"
        @destroy-failure="destroyFailure"
        @create-success="createSuccess"
        @create-failure="createFailure"
        @edit-success="editSuccess"
        @edit-failure="editFailure"
    ></medical-staff>
</template>

<script>
import MedicalStaff from "./../basic/MedicalStaff.vue";

export default {
    name: "MedicalStaffIndex",

    components: {
        MedicalStaff: MedicalStaff,
    },

    created() {},

    mounted() {},

    data() {
        var role_options = [];
        var hf_options = [];
        var area = [];

        if (typeof this.medical_staff_roles !== "undefined") {
            this.medical_staff_roles.forEach(function (role) {
                role_options.push({
                    label: role.label,
                    value: role.id,
                });
            });
        }

        if (typeof this.medical_staff !== "undefined") {
            this.medical_staff.forEach(function (staff) {
                if (staff.health_facility_id !== "") {
                    hf_options.push({
                        label: staff.health_facility,
                        value: staff.health_facility_id,
                    });
                }
                if (staff.health_facility_area !== "") {
                    area.push({
                        label: staff.health_facility_area,
                        value: staff.health_facility_area,
                    });
                }
            });
        }

        hf_options = [
            ...new Map(
                hf_options.map((item) => [item["value"], item])
            ).values(),
        ];

        area = [...new Map(area.map((item) => [item["value"], item])).values()];

        return {
            columns: [
                {
                    label: "First Name",
                    keyword: "first_name",
                },
                {
                    label: "Last Name",
                    keyword: "last_name",
                },
                {
                    label: "Role",
                    keyword: "role",
                },
                {
                    label: "Health Facility",
                    keyword: "health_facility",
                },
                {
                    label: "Area",
                    keyword: "health_facility_area",
                },
                {
                    label: "Last active",
                    keyword: "last_active",
                },
            ],

            inputs: [
                {
                    label: "First Name",
                    keyword: "first_name",
                    type: "text",
                    default: "",
                },
                {
                    label: "Last Name",
                    keyword: "last_name",
                    type: "text",
                    default: "",
                },
                {
                    label: "Role",
                    keyword: "medical_staff_role_id",
                    type: "select",
                    options: role_options,
                },
            ],

            inputsExport: [
                {
                    label: "Health Facility",
                    keyword: "health_facility_id",
                    type: "select",
                    options: hf_options,
                },
                {
                    label: "Area",
                    keyword: "area",
                    type: "select",
                    options: area,
                },
                {
                    label: "Role",
                    keyword: "medical_staff_role_id",
                    type: "select",
                    options: role_options,
                },
            ],

            details: [
                {
                    label: "First Name",
                    keyword: "first_name",
                    type: "text",
                },
                {
                    label: "Last Name",
                    keyword: "last_name",
                    type: "text",
                },
                {
                    label: "Role",
                    keyword: "role",
                    type: "text",
                },
                {
                    label: "Health Facility",
                    keyword: "health_facility",
                    type: "text",
                },
                {
                    label: "Area",
                    keyword: "health_facility_area",
                    type: "text",
                },
                {
                    label: "Last active",
                    keyword: "last_active",
                    type: "text",
                },
            ],
        };
    },

    props: {
        medical_staff_roles: Array,
        medical_staff: Array,
    },

    methods: {
        createSuccess: function (medical_ind) {
            this.$toasted.global.success_notification(
                "Medical Staff Successfully created"
            );
        },

        createFailure: function (error) {
            var errorMsg = error["message"];
            var errors = error["errors"];
            this.$toasted.global.error_notification(
                "Medical Staff Creation Failed: " + errorMsg
            );
            if (errors) {
                for (const [key, value] of Object.entries(errors)) {
                    this.$toasted.global.error_notification(value);
                }
            }
        },

        editSuccess: function (device) {
            this.$toasted.global.success_notification(
                "Medical Staff Succesfully Edited"
            );
        },

        editFailure: function (error) {
            var errorMsg = error["message"];
            var errors = error["errors"];
            this.$toasted.global.error_notification(
                "Medical Staff Edition Failed: " + errorMsg
            );
            if (errors) {
                for (const [key, value] of Object.entries(errors)) {
                    this.$toasted.global.error_notification(value);
                }
            }
        },

        destroySuccess: function (response) {
            this.$toasted.global.success_notification(
                "Medical Staff Successfully Deleted"
            );
        },

        destroyFailure: function (error) {
            this.$toasted.global.error_notification(
                "An error occurred:" + error
            );
        },
    },
};
</script>

<style></style>
