// .dataTables_filter {
//   width: 50%;
//   float: right;
//   text-align: right;
// }

// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0, 0, 0); /* Fallback color */
//   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
// }

// /* Modal Content */
// .modal-content {
//   background-color: #fefefe;
//   margin: auto;
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%;
// }

// /* The Close Button */
// .close {
//   color: #aaaaaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
// }


// .compare_container{
//   .compare{
//     background-color:#dadad7;
//   }
// }

.required::after {
  content: "*";
  color: red;
}

.small-text {
  font-size: small;
}

.compare_container .compare {
  /* background-color:#dadad7; */
  background-color: #ddd;
  padding: 10px;
}

.compare_container .compare .question {
  padding: 10px 20px;
}

.compare_container .compare .answer {
  padding: 10px 20px;
}

