img {
  display: block;
  max-width: 100%;
  max-height:50%;
}


.bimage{
  background-image: url('../images/MedALDataLogo.png') no-repeat center center fixed;
  background-size: cover;
  max-height: 100%;
  /* background-color: red; */
}
