<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="font-size: 30px">Devices</h3>
            </div>
            <div class="card-body">
                <div>
                    <device-index
                        :resources_route="devices_route"
                        :resources_data.sync="devices"
                        :custom_actions="custom_actions"
                        @tokens="manageTokens"
                        @hub="hub"
                    ></device-index>
                </div>
            </div>
        </div>
        <basic-modal :show.sync="showTokensModal">
            <template v-slot:header>
                <h5>Tokens</h5>
            </template>
            <template v-slot:body>
                <token-manager
                    :devices_route="devices_route"
                    :device_id="device_id"
                    :device_name="device_name"
                    :nb_tokens="nb_tokens"
                >
                </token-manager>
            </template>
        </basic-modal>
    </div>
</template>

<script>
import DynamicForm from "./basic/DynamicForm.vue";
import Index from "./basic/Index.vue";
import BasicModal from "./basic/BasicModal.vue";
import DeleteModal from "./basic/DeleteModal.vue";
import ActionButton from "./basic/ActionButton.vue";
import CreateForm from "./basic/CreateForm.vue";
import EditForm from "./basic/EditForm.vue";
import ShowDetails from "./basic/ShowDetails.vue";
import DeviceIndex from "./resources/DeviceIndex.vue";
import TokenManager from "./TokenManager";
import { C } from "caniuse-lite/data/features/border-radius";

export default {
    name: "Devices",

    components: {
        TokenManager,
        DynamicForm: DynamicForm,
        Index: Index,
        BasicModal: BasicModal,
        ActionButton: ActionButton,
        CreateForm: CreateForm,
        EditForm: EditForm,
        DeleteModal: DeleteModal,
        ShowDetails: ShowDetails,
        DeviceIndex: DeviceIndex,
    },

    created() {
        this.devices_data.forEach((element) => {
            element.is_hub = false;
            if (element.type == "hub") {
                element.is_hub = true;
            }
        });
        this.devices = this.devices_data;
    },

    mounted() {},

    data() {
        return {
            showCreateModal: false,
            showEditModal: false,
            showViewModal: false,
            showDeleteModal: false,
            showTokensModal: false,
            devices: [],
            actionURL: "",
            selectedDevice: "",
            columns: [
                {
                    label: "Name",
                    keyword: "name",
                },
                {
                    label: "Creation Data",
                    keyword: "created_at",
                },
                {
                    label: "Authentication ID",
                    keyword: "oauth_client_id",
                },
                {
                    label: "Health Facility ID",
                    keyword: "health_facility_id",
                },
            ],
            actions: [
                {
                    label: "View",
                    event: "view",
                    color: "blue",
                },
                {
                    label: "Edit",
                    event: "edit",
                    color: "yellow",
                },
                {
                    label: "delete",
                    event: "delete",
                    color: "red",
                },
            ],
            custom_actions: [
                {
                    label: "Tokens",
                    event: "tokens",
                    color: "blue",
                },
                {
                    label: "Diagnostics",
                    event: "hub",
                    color: "blue",
                },
            ],
            inputs: [
                {
                    label: "Name",
                    keyword: "name",
                    type: "text",
                    default: "",
                },
            ],
            details: [
                {
                    label: "Name",
                    keyword: "name",
                    type: "text",
                },
                {
                    label: "Model",
                    keyword: "model",
                    type: "text",
                },
                {
                    label: "Brand",
                    keyword: "brand",
                    type: "text",
                },
                {
                    label: "Operating System",
                    keyword: "os",
                    type: "text",
                },
                {
                    label: "Operating System Version",
                    keyword: "os_version",
                    type: "text",
                },
                {
                    label: "MAC Address",
                    keyword: "mac_address",
                    type: "text",
                },
                {
                    label: "Health Facility",
                    keyword: "health_facility",
                    type: "text",
                },
                {
                    label: "Authentication ID",
                    keyword: "oauth_client_id",
                    type: "text",
                },
            ],
        };
    },

    props: {
        devices_route: String,
        health_facilities_route: String,
        devices_data: Array,
    },

    methods: {
        manageTokens: function (id) {
            var url = this.devices_route + "/" + id + "/manage-tokens";
            axios
                .get(url)
                .then((response) => {
                    this.device_id = id;
                    this.nb_tokens = response.data.nbTokens.toString();
                    this.device_name = response.data.deviceName;
                    this.showTokensModal = true;
                })
                .catch((error) => {
                    this.$toasted.global.error_notification("Error:" + error);
                });
        },

        hub: function (id) {
            window.location.href = "/device/" + id;
        },

        createSuccess: function (device) {
            this.$toasted.global.success_notification(
                "Device Successfully created"
            );
            this.showCreateModal = false;
            this.devices.push(device);
        },
        createFailure: function (error) {
            var errorMsg = error["message"];
            var errors = error["errors"];
            this.$toasted.global.error_notification(
                "Device Creation Failed: " + errorMsg
            );
            if (errors) {
                for (const [key, value] of Object.entries(errors)) {
                    this.$toasted.global.error_notification(value);
                }
            }
        },
        destroy: function (id) {
            this.actionURL = this.devices_route + "/" + id.toString();
            this.showDeleteModal = true;
        },
        destroySuccess: function (response) {
            var id = response["id"];
            this.removeDevice(id);
            this.$toasted.global.error_notification(
                "Device successfully deleted"
            );
        },
        destroyFailure: function (error) {
            this.$toasted.global.error_notification("An error occurred...");
        },
        edit: function (id) {
            this.actionURL = this.devices_route + "/" + id.toString();
            this.selectedDevice = this.getDevice(id);
            this.showEditModal = true;
        },
        editSuccess: function (device) {
            this.showEditModal = false;
            this.devices.forEach((dev, index) => {
                if (dev.id == device.id) {
                    this.$set(this.devices, index, device);
                }
            });
            this.$toasted.global.success_notification(
                "Device Succesfully Edited"
            );
        },

        editFailure: function (error) {
            var errorMsg = error["message"];
            var errors = error["errors"];
            this.$toasted.global.error_notification(
                "Device Editing Failed: " + errorMsg
            );
            if (errors) {
                for (const [key, value] of Object.entries(errors)) {
                    this.$toasted.global.error_notification(value);
                }
            }
        },
        view: function (id) {
            this.selectedDevice = this.getDevice(id);
            this.showViewModal = true;
        },

        getDevice: function (id) {
            var dev = {};
            this.devices.forEach((device) => {
                if (device.id == id) {
                    dev = device;
                }
            });
            return dev;
        },

        removeDevice: function (id) {
            this.devices = this.devices.filter(function (value, index, arr) {
                return value.id != id;
            });
        },

        addDevice: function (device) {
            this.devices.push(device);
        },
    },
};
</script>
