<template>
    <div>
        <div class="card">
            <div class="card-header">
                <div v-if="total_patients > 0">
                    <form id="linked_patients" action="/patients" method="POST">
                        <input type="hidden" :value="csrfToken" name="_token" />
                    </form>
                    <h6 class="card-subtitle mb-2">
                        {{ total_patients }} linked
                        <a
                            @click="prepareLinkPatients"
                            :href="'javascript:;'"
                            >{{ patients_string }}</a
                        >
                        will be flagged
                    </h6>
                </div>
                <div v-else>
                    <h6 class="card-subtitle mb-2">No Patients</h6>
                </div>
                <div v-if="total_medical_cases > 0">
                    <form id="linked_mcs" action="/medical-cases" method="POST">
                        <input type="hidden" :value="csrfToken" name="_token" />
                    </form>
                    <h6 class="card-subtitle mb-2">
                        {{ total_medical_cases }} linked
                        <a @click="prepareLinkMcs" :href="'javascript:;'">{{
                            mcs_string
                        }}</a>
                        will be flagged
                    </h6>
                </div>
                <div v-else>
                    <h6 class="card-subtitle mb-2">No Medical Case</h6>
                </div>
                <action-button
                    classTitle="float-right btn btn-danger"
                    title="Confirm"
                    @clicked="processDrop"
                ></action-button>
            </div>
        </div>
    </div>
</template>

<script>
import ActionButton from "./basic/ActionButton.vue";

export default {
    components: {
        ActionButton: ActionButton,
    },

    created() {
        this.total_patients = this.patients.length;
        this.total_medical_cases = this.medical_cases.length;
    },

    mounted() {
        this.csrfToken = document.querySelector(
            'meta[name="csrf-token"]'
        ).content;
    },

    data() {
        return {
            csrfToken: "",
            total_patients: 0,
            total_medical_cases: 0,
        };
    },

    props: {
        selectedHealthFacility: Object,
        medical_cases: Array,
        patients: Array,
        patients_route: String,
        medical_cases_route: String,
    },

    computed: {
        patients_string() {
            return this.total_patients > 1 ? " patients" : " patient";
        },
        mcs_string() {
            return this.total_medical_cases > 1
                ? " medical cases"
                : " medical case";
        },
    },

    methods: {
        prepareLinkMcs() {
            this.submitForm(this.medical_cases, "linked_mcs");
        },

        prepareLinkPatients() {
            this.submitForm(this.patients, "linked_patients");
        },

        submitForm(ids, form_id) {
            var form = $(`#${form_id}`);
            for (var key in ids) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", `ids[${key}]`);
                hiddenField.setAttribute("value", ids[key]);

                form.append(hiddenField);
            }
            form.submit();
        },

        processDrop() {
            axios
                .post(
                    "/health-facilities/" +
                        this.selectedHealthFacility.id +
                        "/drop"
                )
                .then((response) => {
                    Swal.fire({
                        title: "Success!",
                        text: response.data.message,
                        icon: "success",
                        showClass: {
                            popup: "none",
                        },
                        didClose: function () {
                            location.reload();
                        },
                    });
                })
                .catch((error) => {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        showClass: {
                            popup: "none",
                        },
                        text: error.response.data.message,
                        didClose: function () {
                            location.reload();
                        },
                    });
                });
        },
    },
};
</script>
