<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h1 class="card-title" style="font-size: 30px">
                    Health Facilities
                </h1>
            </div>
            <div class="card-body">
                <health-facility-index
                    :resources_route="health_facilities_route"
                    :resources_data.sync="health_facilities"
                    :custom_actions="custom_actions"
                    @devices="manageDevices"
                    @algorithms="manageAlgorithms"
                    @medical_staff="manageMedicalStaff"
                    @drop="manageDrop"
                    @stickers="manageStickers"
                ></health-facility-index>
            </div>
        </div>
        <basic-modal :show.sync="showDevices">
            <template v-slot:header>
                <h5>
                    Devices from Health Facility
                    {{ selectedHealthFacility.name }}
                </h5>
            </template>
            <template v-slot:body>
                <device-manager
                    :devices="devices"
                    :assign_base_url="actionURL"
                    :devices_route="devices_route"
                    :unassignedDevices="unassignedDevices"
                ></device-manager>
            </template>
        </basic-modal>
        <basic-modal :show.sync="showAlgorithms">
            <template v-slot:header>
                <h5>
                    Algorithms for Health Facility
                    {{ selectedHealthFacility.name }}
                </h5>
            </template>
            <template v-slot:body>
                <algorithm-manager
                    :algorithms="algorithms"
                    :assign_base_url="actionURL + '/assign-version'"
                    :versions_route="versionsRoute"
                    :algorithms_accesses_route="actionURL + '/accesses'"
                ></algorithm-manager>
            </template>
        </basic-modal>
        <basic-modal :show.sync="showMedicalStaff">
            <template v-slot:header>
                <h5>
                    Medical staff from Health Facility
                    {{ selectedHealthFacility.name }}
                </h5>
            </template>
            <template v-slot:body>
                <medical-staff-manager
                    :medical_staff="medical_staff"
                    :assign_base_url="actionURL"
                    :medical_staff_route="medical_staff_route"
                    :unassigned_medical_staff="unassigned_medical_staff"
                ></medical-staff-manager>
            </template>
        </basic-modal>
        <basic-modal :show.sync="showStickers">
            <template v-slot:header>
                <h5>
                    Generate stickers for Health Facility
                    {{ selectedHealthFacility.name }}
                </h5>
            </template>
            <template v-slot:body>
                <sticker-manager
                    :health_facilities_route="health_facilities_route"
                    :health_facility_id="health_facility_id"
                    :health_facility_name="health_facility_name"
                ></sticker-manager>
            </template>
        </basic-modal>

        <basic-modal :show.sync="showAlert">
            <template v-slot:header>
                <h5>
                    Flag <b>{{ selectedHealthFacility.name }}</b> as “Drop for
                    analysis”
                </h5>
            </template>
            <template v-slot:body>
                <drop-manager
                    :selectedHealthFacility="selectedHealthFacility"
                    :medical_cases="medical_cases"
                    :patients_route="patients_route"
                    :medical_cases_route="medical_cases_route"
                    :patients="patients"
                ></drop-manager>
            </template>
        </basic-modal>
    </div>
</template>

<script>
import BasicModal from "./basic/BasicModal.vue";
import ActionButton from "./basic/ActionButton.vue";
import DeviceManager from "./DeviceManager.vue";
import AlgorithmManager from "./AlgorithmManager.vue";
import MedicalStaffManager from "./MedicalStaffManager.vue";
import StickerManager from "./StickerManager.vue";
import DropManager from "./DropManager.vue";
import HealthFacilityIndex from "./resources/HealthFacilityIndex.vue";

export default {
    name: "HealthFacilities",

    components: {
        BasicModal: BasicModal,
        ActionButton: ActionButton,
        DeviceManager: DeviceManager,
        AlgorithmManager: AlgorithmManager,
        MedicalStaffManager: MedicalStaffManager,
        StickerManager: StickerManager,
        DropManager: DropManager,
        HealthFacilityIndex: HealthFacilityIndex,
    },

    created() {
        this.healthFacilities = this.health_facilities;
    },

    mounted() {},

    data() {
        return {
            versionsRoute: this.health_facilities_route + "/versions",
            showDevices: false,
            showAlgorithms: false,
            showMedicalStaff: false,
            showStickers: false,
            showAlert: false,
            devices: [],
            algorithms: [],
            medical_staff: [],
            unassignedDevices: [],
            unassigned_medical_staff: [],
            healthFacilities: [],
            selectedHealthFacility: {},
            medical_cases: [],
            patients: [],
            patients_route: "",
            medical_cases_route: "",
            assignmentURL: "",
            unassignmentURL: "",
            custom_actions: [
                {
                    label: "Devices",
                    event: "devices",
                    color: "green",
                },
                {
                    label: "Algorithms",
                    event: "algorithms",
                    color: "dark",
                },
                {
                    label: "Medical staff",
                    event: "medical_staff",
                    color: "blue",
                },
                {
                    label: "Stickers",
                    event: "stickers",
                    color: "yellow",
                },
                {
                    label: "Drop for Analysis",
                    event: "drop",
                    color: "red",
                },
            ],
            default_actions: [["view", "edit", "delete"]],
        };
    },

    props: {
        health_facilities_route: String,
        devices_route: String,
        medical_staff_route: String,
        health_facilities: Array,
    },

    methods: {
        manageDevices: function (id) {
            var url =
                this.health_facilities_route + "/" + id + "/manage-devices";
            axios
                .get(url)
                .then((response) => {
                    this.actionURL = this.health_facilities_route + "/" + id;
                    this.selectedHealthFacility = response.data.healthFacility;
                    this.devices = response.data.devices;
                    this.unassignedDevices = response.data.unassignedDevices;
                    this.showDevices = true;
                })
                .catch((error) => {
                    this.$toasted.global.error_notification("Error:" + error);
                });
        },

        manageDrop: function (id) {
            var url = this.health_facilities_route + "/" + id + "/manage-drop";
            axios
                .get(url)
                .then((response) => {
                    this.health_facility_name =
                        response.data.health_facility.name;
                    this.health_facility_id =
                        response.data.health_facility.group_id;
                    this.selectedHealthFacility = response.data.health_facility;
                    this.medical_cases = response.data.medical_cases;
                    this.patients = response.data.patients;
                    this.patients_route = response.data.patients_route;
                    this.medical_cases_route =
                        response.data.medical_cases_route;
                    this.showAlert = true;
                })
                .catch((error) => {
                    this.$toasted.global.error_notification(error);
                });
        },

        manageAlgorithms: function (id) {
            var url =
                this.health_facilities_route + "/" + id + "/manage-algorithms";
            axios
                .get(url)
                .then((response) => {
                    this.actionURL = this.health_facilities_route + "/" + id;
                    this.selectedHealthFacility = response.data.healthFacility;
                    this.algorithms = response.data.algorithms;
                    this.showAlgorithms = true;
                })
                .catch((error) => {
                    this.$toasted.global.error_notification("Error:" + error);
                });
        },

        manageMedicalStaff: function (id) {
            var url =
                this.health_facilities_route +
                "/" +
                id +
                "/manage-medical-staff";
            axios
                .get(url)
                .then((response) => {
                    this.actionURL = this.health_facilities_route + "/" + id;
                    this.selectedHealthFacility = response.data.health_facility;
                    this.medical_staff = response.data.medical_staff;
                    this.unassigned_medical_staff =
                        response.data.unassigned_medical_staff;
                    this.showMedicalStaff = true;
                })
                .catch((error) => {
                    this.$toasted.global.error_notification("Error:" + error);
                });
        },

        manageStickers: function (id) {
            var url =
                this.health_facilities_route + "/" + id + "/manage-stickers";
            axios
                .get(url)
                .then((response) => {
                    this.selectedHealthFacility = response.data.health_facility;
                    this.health_facility_name =
                        response.data.health_facility.name;
                    this.health_facility_id =
                        response.data.health_facility.group_id;
                    this.showStickers = true;
                })
                .catch((error) => {
                    this.$toasted.global.error_notification("Error:" + error);
                });
        },
    },
};
</script>
